* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Roboto";
  color: #cacaca;
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: auto;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.btn {
  padding: 20px 30px;
  background-color: #34C176;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}
.btn_outline {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1239px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 90px;
       column-gap: 90px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.header__item {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16.5px;
}
.header__input {
  outline: none;
  border: none;
  width: 248px;
  height: 25px;
  border-radius: 50px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #3C3B3D;
  color: #757575;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 16px;
}
.logo__icon {
  width: 24px;
  height: 24px;
  background: url("../images/logo.svg") center center/cover no-repeat;
}
.logo__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16.5px;
}

@media (max-width: 1239px) {
  .header__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 17px;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 17px;
  }
  .header__list {
    row-gap: 3px;
    flex-direction: column;
  }
  .header__item {
    font-weight: 700;
  }
  .header__input {
    width: 100%;
  }
  .logo__name {
    font-weight: bold;
  }
}
.main {
  background: url("../images/banner.png") center center/cover no-repeat;
}

.page-description {
  padding: 200px 0;
}
.page-description__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.page-description__wrapper h1, .page-description__wrapper h2, .page-description__wrapper p {
  text-align: center;
}
.page-description__wrapper p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.page-description__text {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}

.form {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.form__input {
  width: 273px;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background: transparent;
  min-height: 50px;
  padding-left: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.form__input::-moz-placeholder {
  color: #fff;
}
.form__input::placeholder {
  color: #fff;
}

@media (max-width: 1239px) {
  .page-description {
    padding-top: 248px;
  }
  .page-description__text {
    row-gap: 16px;
  }
  .form {
    width: 100%;
  }
  .form__inputs {
    row-gap: 24px;
  }
  .form__input {
    width: 100%;
  }
}
.page-pricing {
  background: #08020D;
  padding-top: 100px;
}
.page-pricing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-pricing__wrapper {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.page-pricing__cards {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.page-pricing__description {
  text-align: center;
  font-size: 16px;
}

.card {
  width: 367px;
  height: 615px;
  padding: 24px 1.5rem 64px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
  background-size: cover;
}
.card__price {
  margin: 200px 0 40px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.card__price-value {
  font-size: 64px;
  line-height: 1em;
  color: #fff;
}
.card__currency {
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
.card__description {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 64px;
}
.card__button {
  width: 100%;
}
.card_1 {
  background-image: url("../images/subscribe_1.png");
}
.card_2 {
  background-image: url("../images/subscribe_2.png");
}
.card_3 {
  background-image: url("../images/subscribe_3.png");
}

@media (max-width: 1239px) {
  .page-pricing__cards {
    margin-top: 49px;
    flex-direction: column;
    row-gap: 50px;
  }
  .card {
    padding-top: 16px;
    width: 100%;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
.page-news {
  padding-top: 100px;
  background-color: #08020D;
}
.page-news__news-list {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
  margin-top: 48px;
}

.news {
  display: flex;
  justify-content: space-between;
}
.news:nth-child(even) {
  flex-direction: row-reverse;
}
.news img {
  width: 575px;
  height: 286px;
}
.news__wrapper {
  width: 575px;
}
.news h3 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 45px;
}
.news__text {
  color: #CACACA;
}
.news__info {
  margin-top: 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.news__author {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.news__author-image {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: url("../images/avatar.png") center center/cover no-repeat;
}
.news__author-name {
  text-transform: uppercase;
  color: #F89202;
  font-size: 12px;
}
.news__date {
  color: #CACACA;
}
.news .btn_outline {
  margin-top: 48px;
  padding: 16px 30px;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1239px) {
  .news {
    flex-direction: column;
    row-gap: 50px;
  }
  .news img, .news__wrapper {
    width: 100%;
  }
  .news img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news:nth-child(even) {
    flex-direction: column;
    row-gap: 50px;
  }
  .news h3 {
    font-size: 16px;
    line-height: 24px;
  }
}/*# sourceMappingURL=app.css.map */