* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Roboto';
  color:  #cacaca;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  // background-color: #08020d;
}
h1 {
  font-size: 60px;
  line-height: 90px;
}
h2 {
  font-size: 38px;
  line-height: 57px;
}
h1, h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

@media(max-width: 1239px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .container {
    width: 100%;
    padding: 0 20px;
  }
}