* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  color:  #cacaca;
}

body {
  background-color: $black;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  height: auto;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.btn {
  display: block;
  padding: 20px 30px;
  background-color: $green;
  border: none;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  
  &_outline {
    border: 1px solid $white;
    background-color: transparent;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  
  &_orange {
    border-radius: 32px;
    padding: 17px 40px;
    font-size: 12.8px;
    line-height: 19px;
    width: fit-content;
    background-color: $orange;
    text-transform: none;
  }
  
  &_blue {
    background-color: $violet;
  }
  
  &_icon {
    width: 200px;
    height: 62px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 20px 30px;
    font-size: 12.8px;
    line-height: 19.2px;
    text-transform: uppercase;
    border-radius: 5px;
    
    .btn__icon {
      width: 20px;
      height: 20px;
      filter: invert(1);
      
      &_play {
        background: url('../images/play-button.svg') center center / cover no-repeat;

      }
      
      &_heart {
        background: url('../images/heart.svg') center center / cover no-repeat;
      }
    }
  }
}

@media(min-width >= 414px) and (max-width <= 1239px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  
  .container {
    width: 100%;
    padding: 0 20px;
  }
}