.page-similar {
  padding-top: 100px;
  h2 {
    text-align: left;
  }
  h3 {
    text-align: center;
    margin-top: 1px;
    font-size: 18px;
    line-height: 27px;
    text-transform: none;
  }
}
.similar {
  margin-top: 48px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 50%;
    margin-bottom: 18px;
  }
  &__followers {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}

@media(max-width: 1239px) {
  .similar {
    &__item {
      width: 137px;
    }
    img {
      width: 137px;
      height: 137px;
    }
  }
}