.page-pricing {
    background: $black;
    padding-top: 100px;
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__wrapper {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    &__cards {
      display: flex;
      column-gap: 50px;
    }
    &__description {
      text-align: center;
      font-size: 16px;
    }
  }
  .card {
    width: 367px;
    height: 615px;
    padding: 24px 1.5rem 64px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-size: cover;
    &__price {
      margin: 200px 0 40px;
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }
    &__price-value {
      font-size: 64px;
      line-height: 1em;
      color: $white;
    }
    &__currency {
      font-size: 32px;
      line-height: 48px;
      text-transform: uppercase;
      color: $white;
    }
    &__description {
      text-align: center;
      color: $white;
      font-size: 0.8rem;
      margin-top: 64px;
    }
    &__button {
      width: 100%;
    }
    &_1 {
      background-image: url('../images/subscribe_1.png');
    }
    &_2 {
      background-image: url('../images/subscribe_2.png');
    }
    &_3 {
      background-image: url('../images/subscribe_3.png');
    }
    
  }

  @media(max-width: 1239px) {
    .page-pricing {
      &__cards {
        margin-top: 49px;
        flex-direction: column;
        row-gap: 50px; 
      }
    }
    .card {
      padding-top: 16px;
      width: 100%;
    }
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }