.page-discography {
  background-color: $black;
  padding-top: 100px;
}
h2 {
  text-align: left;
}
h3 {
  text-transform: none;
  font-size: 18px;
  line-height: 27px;
}
.discography {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  img {
    width: 250px;
    height: 250px;
    margin-bottom: 18px;
  }
  &__year {
    font-size: 16px;
    line-height: 24px;
  }
}

@media(max-width: 1239px) {
  .discography {
    img {
      width: 137px;
      height: 137px;
    }
  }
}